---
import HorizontalLineTitle from "src/components/horizontal-line-title/HorizontalLineTitle.astro";
import { Image } from "astro:assets";
import Button from "src/components/button/Button.astro";
import vinlab from "src/assets/images/vinlab.svg";
import storeez from "src/assets/images/12storeez.svg";
import monastyrev from "src/assets/images/monastyrev.svg";
import teamIdea from "src/assets/images/TeamIdea.svg";
import yandex from "src/assets/images/yandex.svg";
import ozon from "src/assets/images/ozon.svg";
import sberBank from "src/assets/images/SberBank.svg";
import gosUslugi from "src/assets/images/GosUslugi.svg";

import "src/logic/company-page/partners/Partners.less";

export type PartnersProps = {
    icon: ImageMetadata;
};

const partners: PartnersProps[] = [
    { icon: vinlab },
    { icon: storeez },
    { icon: monastyrev },
    { icon: teamIdea },
    { icon: sberBank },
    { icon: ozon },
    { icon: yandex },
    { icon: gosUslugi },
];

/**
 * Компонент раздела "Наши партнеры".
 */
---

<div class="partners">
    <HorizontalLineTitle
        title="НАШИ ПАРТНЕРЫ"
       className="partners-container"
        contentClassName="partners-content"
    >
        <div class="partners-images">
            {
                partners.map(({ icon }) => (
                    <Image src={icon} alt="icon" class="partner-image" />
                ))
            }
        </div>

        <div class="partners-description">
            <p class="recommendation-text">
                <span>Клиенты</span> рекомендуют PROMETEY LAB и мы выплачиваем бонус
                за эти рекомендации
            </p>
            <Button
                label="Стать партнером"
                variant="outline"
                size="big"
                className="partner-button"
            />
        </div>
    </HorizontalLineTitle>
</div>
