@import '@styles/fontsMixins.less';
@import '@styles/colors.less';
@import '@styles/breakpoints.less';

.main-info {
    padding: 92px 40px 40px 40px;

    .mediaPhone({
        padding: 20px 30px;
    });

    .content-container .info-content .text-content h1 {
        .fontOpenSansRegular();
        font-size: 21px;
        color: @secondary-black-text;
        max-width: 620px;

        .mediaPhone({
            font-size: 14px;
        });

        .bold {
            .fontOpenSansBoldItalic();
        }
    }

    .service {
        margin-top: 70px;

        .mediaPhone({
            margin-top: 30px;
        });
    }
}
