---
import Service from "src/components/service/Service.astro";
import InfoBlock from "src/components/info-block/InfoBlock.astro";
import "src/logic/main-page/main-info/MainInfo.less";

/**
 * Компонент главной информации о странице.
 */
---

<InfoBlock
    title="DEVOPS И БАЗЫ ДАННЫХ"
    descriptions={[
        "Комплексные услуги по сопровождению баз данных, включая работу с <span class='bold'>PostgreSQL, Oracle, MySQL и MS SQL</span>",
    ]}
    buttonLabel="Заказать"
    className="main-info"
    class:list={['box']}
>
    <div slot="additional-content">
        <Service />
    </div>
</InfoBlock>
