---
import { Image } from "astro:assets";
import logo from "src/assets/images/logo-black.png";
import "src/layout/header/LogoComponent.less";

---

  <div class="logo-content">
    <a href="/" class="logo-link">
        <Image class="logo" alt="Администрирование баз данных PostgreSQL" src={logo} />
    </a>
    <a href="/" class="logo-link">
        <span class="text">PROMETEY LAB</span>
    </a>
  </div>
