---
import InfoBlock from "src/components/info-block/InfoBlock.astro";
import Structure from "src/assets/images/devops-case-3.svg";
import "src/logic/company-page/main-info/MainInfo.less";

/**
 * Компонент раздела "Prometey lab".
 */
---

<InfoBlock
    title="PROMETEY LAB"
    descriptions={[
        "Обеспечиваем <strong>высокую доступность, отказоустойчивость и стабильную работу ИТ-систем</strong> наших клиентов.",
        "Наша цель — свести к нулю риски простоев и сбоев, чтобы ваш бизнес работал без перебоев 24/7.",
        "Что мы делаем:",
        "<ul class='services-list'>" +
            "<li>Строим <strong>высокопроизводительные и масштабируемые системы</strong>, оптимизируем инфраструктуру и повышаем стабильность программного обеспечения.</li>" +
            "<li>Постоянно отслеживаем ключевые <strong>бизнес-метрики</strong>, совершенствуем систему мониторинга и предиктивной аналитики.</li>" +
            "<li>Обеспечиваем <strong>техническую поддержку баз данных и ИТ-систем 24/7</strong>.</li>" +
            "</ul>",
    ]}
    buttonLabel="Консультация"
    image={Structure}
    alt="DevOps Case"
/>
