---
import "src/logic/main/offer/ListItem.less";
import { Image } from "astro:assets";

export type ListItem = {
    icon: any;
    header: string;
    list: string[];
};

const { icon, header, list } = Astro.props as ListItem;
---

<div class="list-item">
    <div class="image-with-header">
        <Image src={icon} alt="icon" class="icon" />
        <h3 class="header-title">{header}</h3>
    </div>
    <ul>
        {list.map((el) => <li>{el}</li>)}
    </ul>
    <div></div>
</div>
