---
import 'src/components/button/Button.less';

type ButtonProps = {
  type?: "button" | "submit" | "reset";
  variant?: "blue" | "white";
};

const {
  label,
  type = "button",
  variant = "blue"
} = Astro.props as ButtonProps;

const className = variant === "white" ? "button white" : "button blue";
---

<button type={type} class={className}>
    {label}
</button>
