@import '@styles/globals.less';

.button {
    .fontOpenSansBold();
    font-size: 20px;
    padding: 7px 36px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &.blue {
        color: @primary-white-text;
        background-color: @accent-blue;

        &:hover{
            background-color: @secondary-blue;
        }
    }

    &.white {
        color: @accent-blue;
        background-color: @primary-white-text;
    }
}