---
import Input from 'src/components/input/Input.astro';
import 'src/components/form/Form.less';
---

<form class="form">    
    <div class="form-content">
        <div class="text">РАССКАЖИТЕ О СВОЕМ ПРОЕКТЕ И МЫ РЕШИМ ВАШУ ЗАДАЧУ</div>
        <div class="fields">
            <Input/>
        </div>
    </div>
</form>
