---
import Input from "src/components/input/Input.astro";
import Textarea from "src/components/textarea/Textarea.astro";
import Button from "src/components/button/Button.astro";
import Modal from "src/components/modal/Modal.astro";
import "src/components/form/Form.less";
---

<form class="form" id="feedback-form">
    <input type="hidden" name="_subject" value="Prometey lab feedback" />
    <input type="hidden" name="_captcha" value="false" />
    <div class="form-content">
        <div class="title">
            РАССКАЖИТЕ О СВОЕМ ПРОЕКТЕ И МЫ РЕШИМ ВАШУ ЗАДАЧУ
        </div>

        <div class="fields-wrapper">
            <div class="fields">
                <Input placeholder="Имя" name="name" required />
                <Input placeholder="E-mail" name="email" required />
                <Textarea placeholder="Сообщение" name="message" required />
            </div>

            <p class="agreement">
                Оставляя заявку, вы даете согласие на обработку персональных
                данных в соответствии с нашей <a href="/policy">Политикой</a>
            </p>

            <Button label="Оставить заявку" variant="white" type="submit" />

            <Modal />
        </div>
    </div>
</form>

<script>
    document
        .getElementById("feedback-form")
        ?.addEventListener("submit", function (e) {
            e.preventDefault();

            const form = e.target as HTMLFormElement;
            const formData = new FormData(form);
            const EMAIL = "sales@prometey-la12b.ru";

            fetch(`https://formsubmit.co/ajax/${EMAIL}`, {
                method: "POST",
                body: formData,
                headers: {
                    Accept: "application/json",
                },
            }).then(() => {
                const modalOverlay = document.getElementById("modalOverlay");
                modalOverlay?.classList.add("open");
                form.reset();
            });
        });
</script>
