---
import HorizontalLineTitle from "src/components/horizontal-line-title/HorizontalLineTitle.astro";
import { Image } from "astro:assets";
import Display from "src/assets/images/devops-case-1.svg";

import "src/logic/service/Safety.less";

/**
 * Компонент раздела "Почему Devops support это безопасно".
 */
---

<HorizontalLineTitle
    title="ПОЧЕМУ DEVOPS SUPPORT — ЭТО БЕЗОПАСНО"
    className="safety"
    contentClassName="safety-content"
>
    <div class="safety-text">
        <p class="safety-bold">
            Ваши системы в сохранности, ведь у нас для этого полный набор:
        </p>

        <p class="safety-description">
            У вас всегда будет информация о ключевых аспектах вашей
            IT-инфраструктуры:
        </p>

        <ul class="safety-features">
            <li><span>Двухфакторная аутентификация</span></li>
            <li><span>Журналирование и аудит сессий</span></li>
            <li><span>Гранулярный контроль доступа</span></li>
        </ul>
    </div>

    <div class="safety-image">
        <Image src={Display} alt="Услуги DevOps" />
    </div>
</HorizontalLineTitle>
