@import '@styles/breakpoints.less';

.services {
    width: 100%;

    .services-content {
        .mediaPhone({
            display: flex;
            flex-wrap: wrap;
            justify-content: center;


            .service-card {
                width: 280px;
            }
        });
    }
}
