---
import 'src/components/statistic/statistic-card/StatisticCard.less';

type ButtonProps = {
  title: string;
  description: string;
};

const {
    title,
    description
} = Astro.props as ButtonProps;


/**
 * Компонент карточки статистики.
 */
---

<div class="statistic-card">
    <div class="title">{title}</div>
    <div class="description">{description}</div>
</div>
