---
import 'src/components/card-blue-title/CardBlueTitle.less';
import CardDefault from 'src/components/card-default/CardDefault.astro';

export type CardBlueTitleProps = {
    /**
     * Заголовок карточки.
     */
    title: string;

    /**
     * Описание карточки.
     */
    description: string;

    /**
     * Фон карточки: может быть цвет, изображение, градиент и т.п.
     * По умолчанию: "transparent"
     * Задается форматом: "#ffffff", "url('/images/bg.jpg') center/cover no-repeat".
     */
    background?: string;

    /**
     * Дополнительный css-класс.
     */
    className?: string;
};

const {
    title,
    description,
    background = 'transparent',
    className = '',
} = Astro.props as CardBlueTitleProps;

/**
 * Компонент карточки с синим заголовком.
 *
 * Определяющий css-класс: "card-blue-title".
 *
 * Пример использования:
 * <CardBlueTitle background="url('/images/bg.jpg') center/cover no-repeat" title="Title" description="Description" />
 */
---

<CardDefault
    className={`card-blue-title ${className}`}
    background={background}
>
    <div slot="title" class="title">{title}</div>
    <div slot="description" class="description">{description}</div>
</CardDefault>
