---
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
import 'src/components/swiper/Swiper.less';
---

<div class="swiper-container">
    <div class="swiper">
        <div class="swiper-wrapper">
            <slot />
        </div>
    </div>

    <div class="arrow arrow-left"></div>
    <div class="arrow arrow-right"></div>
</div>

<script type="module">
    import {initSwiper} from '/src/components/swiper/SwiperInit.js';
    initSwiper();
</script>
