---
import ServiceCard, {
    type CardServiceProps,
} from "src/components/service/service-card/ServiceCard.astro";
import "src/components/service/Service.less";

/**
 * Компонент списка услуг.
 */
const services: CardServiceProps[] = [
    {
        title: "БАЗЫ ДАННЫХ",
        subtitle:
            "Администрирование баз данных от Oracle до PostgreSQL под ключ на любых платформах. Enterprise и Open Source",
        link: "/database",
    },
    {
        title: "DEVOPS УСЛУГИ",
        subtitle:
            "Внедрение CI/CD, настройка мониторинга и автоматизация для стабильной IT-инфраструктуры 24/7",
        link: "/cases",
    },
    {
        title: "SRE",
        subtitle:
            "Повысим надежность и доступность ваших систем, сопровождение 24/7",
        link: "/cases",
    },
];
---

<div class={"service"}>
    {
        services.map((service) => (
            <a href={service.link} class="service-card-link">
                <ServiceCard
                    title={service.title}
                    subtitle={service.subtitle}
                    link={service.link}
                />
            </a>
        ))
    }
</div>
