---
import Projects from "src/components/our-projects/OurProjects.astro";
import free2ex from "src/assets/images/free2ex.png";
import storeez from "src/assets/images/12storeez.svg";
import monastyrev from "src/assets/images/monastyrev.svg";
import rosneft from "src/assets/images/rosneft.png";
import transcontainer from "src/assets/images/transcontainer.png";

const projects = [
    {
        image: storeez,
        task: {
            header: "Задача",
            descriptions: [
                "С ростом инфраструктуры у заказчика возникли проблемы с управлением:",
            ],
            items: [
                { text: "отсутствовал инцидент-менеджмент" },
                { text: "прозрачность по статусу СУБД" },
                {
                    text: "один DBA в штате не справлялся с нагрузкой из-за широкого спектра СУБД",
                },
            ],
        },
        solution: {
            header: "Что сделали",
            items: [
                { text: "Аудит и выявление проблемных зон" },
                { text: "Настройка мониторинга и проактивных мер" },
                { text: "Стабилизация DWH" },
                { text: "Сокращение времени отклика сайта" },
                { text: "Согласовали ролевую модель доступов" },
            ],
        },
        result: [
            {
                header: "Результаты",
                items: [
                    {
                        text: "Заказчик получил экспертизу по управлению всем парком СУБД, с внедрением корпоративных стандартов и процессов",
                    },
                    {
                        text: "Повышение прозрачности и стабильности работы инфраструктуры баз данных",
                    },
                ],
            },
            {
                header: "Продолжительность",
                items: [
                    {
                        text: "<strong>10+ месяцев</strong>, в работе",
                    },
                ],
            },
            {
                header: "Денежный эффект",
                items: [
                    {
                        text: "Эквивалентная команда экспертов в штате стоила бы в 4-5 раз дороже и простаивала бы 2/3 времени",
                    },
                ],
            },
        ],
    },
    {
        image: monastyrev,
        task: {
            header: "Задача",
            descriptions: [
                "У заказчика возникли проблемы с производительностью 1с и dwh, вертикальное масштабирование не давало результатов.",
            ],
        },
        solution: {
            header: "Что сделали",
            items: [
                {
                    text: "Комплексный анализ состояния СУБД, выявили ключевые точки роста и проблемные места",
                },
                { text: "Настройка мониторинга и проактивных мер" },
                { text: "Устранение проблем в работе СУБД после аудита" },
                { text: "Обновление версий СУБД" },
                { text: "Миграция с MySQL на PostgreSQL" },
                {
                    text: "Внедрение отчетов по инцидентам и регламентных работ",
                },
            ],
        },
        result: [
            {
                header: "Результаты",
                items: [
                    {
                        text: "Увеличение производительности СУБД за счет оптимизации и стандартов",
                    },
                    {
                        text: "За счет миграции снижено количество поддерживаемых СУБД",
                    },
                    {
                        text: "Повысилась производительность разработчиков",
                    },
                ],
            },
            {
                header: "Продолжительность",
                items: [
                    {
                        text: "<strong>14 месяцев+</strong>, в работе",
                    },
                ],
            },
            {
                header: "Денежный эффект",
                items: [
                    {
                        text: "Эквивалентная команда экспертов в штате стоила бы в 3 раза дороже и простаивала бы 2/3 времени",
                    },
                ],
            },
        ],
    },
    {
        image: free2ex,
        task: {
            header: "Задача",
            descriptions: [
                "Комплексный аудит MSSQL с целью предотвращения возможных инцидентов.",
            ],
        },
        solution: {
            header: "Что сделали",
            items: [
                {
                    text: "Провели детальный аудит MS SQL",
                },
                {
                    text: "В рекомендациях отразили, что нужно сделать для повышения наблюдаемости системы (observability) и минимизации влияния от нештатных ситуаций",
                },
                { text: "Составили план устранения недостатков" },
                {
                    text: "Консультировали DBA в штате по реализации рекомендаций",
                },
            ],
        },
        result: [
            {
                header: "Результаты",
                items: [
                    {
                        text: "Исключили влияние СУБД, включая hardware, на возникновение инцидентов",
                    },
                    {
                        text: "Сформировали 23 рекомендации для повышения наблюдаемости, надежности и производительности системы",
                    },
                    {
                        text: "Реализованные меры помогут обеспечить стабильную и эффективную работу СУБД в долгосрочной перспективе",
                    },
                ],
            },
            {
                header: "Продолжительность",
                items: [
                    {
                        text: "1 месяц",
                    },
                ],
            },
        ],
    },
    {
        image: rosneft,
        task: {
            header: "Задача",
            descriptions: [
                "При масштабировании ИТ-системы СУБД не справлялась с нагрузкой.",
            ],
        },
        solution: {
            header: "Что сделали",
            items: [
                { text: "Провели детальный аудит MS SQL" },
                {
                    text: "В рекомендациях отразили, что нужно сделать для повышения производительности и отказоустойчивости системы",
                },
                {
                    text: "Составили план устранения недостатков, согласовали дорожную карту",
                },
                {
                    text: "Настроили проактивный мониторинг Бизнес-процессы->ИТ-система->СУБД",
                },
                { text: "Реализовали план рекомендаций" },
            ],
        },
        result: [
            {
                header: "Результаты",
                items: [
                    {
                        text: "СУБД перестала быть узким горлышком в работе ИТ-системы",
                    },
                    {
                        text: "Заказчику передан мониторинг, описание ИТ-ландшафта вокруг СУБД, стандарт по MSSQL и инструкции",
                    },
                    {
                        text: "Специалисты Заказчика самостоятельно продолжили техподдержку СУБД",
                    },
                ],
            },
            {
                header: "Продолжительность",
                items: [
                    {
                        text: "2 месяца",
                    },
                ],
            },
        ],
    },
    {
        image: transcontainer,
        task: {
            header: "Задача",
            descriptions: ["Оптимизация ИТ-систем на ПО Oracle."],
            items: [
                { text: "миграция ПО Oracle с оборудования Power IBM на x86" },
                { text: "повышение отказоустойчивости и производительности" },
                {
                    text: "настройка мониторинга и полное описание ИТ-ландшафта",
                },
            ],
        },
        solution: {
            header: "Что сделали",
            items: [
                {
                    text: "Миграция ПО Oracle: Siebel, DWH, BI, SOA, OTM через datapump",
                },
                { text: "Настройка мониторинга Zabbix, GridControl" },
                { text: "Описали изменения и целевую инфраструктуру" },
                { text: "Обучение пользователей" },
                { text: "Выход на 24/7 техподдержку ИТ-систем" },
            ],
        },
        result: [
            {
                header: "Результаты",
                items: [
                    {
                        text: "ПО Oracle на целевом ИТ-ландшафте",
                    },
                    {
                        text: "Документация и мониторинг",
                    },
                    {
                        text: "Обеспечена отказоустойчивость и катастрофоустойчивость ИТ-систем",
                    },
                ],
            },
            {
                header: "Продолжительность",
                items: [
                    {
                        text: "2 месяца миграции и далее 2 года техподдержки 24/7",
                    },
                ],
            },
        ],
    },
    {
        headerText: "NDA, логистическая компания",
        task: {
            header: "Задача",
            descriptions: ["Оптимизация ландшафта СУБД, импортозамещение."],
        },
        solution: {
            header: "Что сделали",
            items: [
                { text: "Миграция 16 DB2 в одну СУБД в центральном ЦОД" },
                {
                    text: `
                        <span>Миграция DB2 (5 ТБ) на PostgreSQL</span>
                        <ul>
                            <li>с помощью db2look вытащили схему, в которой переписали SQL DB2 на PL/SQL PostgreSQL</li>
                            <li>выделили 2 СУБД PostgreSQL: транзакционную (OLTP) и аналитическую (OLAP)</li>
                            <li>из-за 1ч даунтайма разделили миграции аналитических и оперативных данных</li>
                            <li>провели 2 тестовых прогона и нагрузочные тесты</li>
                            <li>в течении даунтайма мигрировали оставшуюся часть оперативных данных</li>
                        </ul>
                    `,
                },

                { text: "Мониторинг и оптимизация" },
            ],
        },
        result: [
            {
                header: "Результаты",
                items: [
                    {
                        text: "Оптимизировали ИТ-инфраструктуру под СУБД в 16 раз",
                    },
                    {
                        text: "Импортозаместили СУБД",
                    },
                ],
            },
            {
                header: "Продолжительность",
                items: [
                    {
                        text: "4 месяца",
                    },
                ],
            },
        ],
    },
];

/**
 * Компонент раздела "Наши проекты".
 */
---

<Projects title="НАШИ ПРОЕКТЫ" projects={projects} />
