---
import InfoBlock from "src/components/info-block/InfoBlock.astro";
import Structure from "src/assets/images/devops-case-3.svg";
import "src/logic/cases-page/main-info/MainInfo.less";

/**
 * Компонент раздела "Комплексные услуги по сопровождению баз данных".
 */
---

<InfoBlock
    title="КОМПЛЕКСНЫЕ УСЛУГИ ПО СОПРОВОЖДЕНИЮ БАЗ ДАННЫХ"
    descriptions={[
        "<ul class='services-list'>" +
            "<li>Аудит PostgreSQL, Oracle, MySQL, MS SQL, NoSQL</li>" +
            "<li>Миграции</li>" +
            "<li>Техподдержка 24/7</li>" +
            "</ul>",
    ]}
    buttonLabel="Заказать"
    image={Structure}
    alt="DevOps Case"
    offer="<strong>Проконсультируем бесплатно</strong>, работу выполним <strong>удаленно</strong> по цене 0.5 специалиста в месяц"
/>
