---
import arrow from "src/assets/images/arrow.svg";
import { Image } from "astro:assets";
import "src/components/service/service-card/ServiceCard.less";

export type CardServiceProps = {
    /**
     * Заголовок карточки.
     */
    title: string;

    /**
     * Подзаголвок карточки.
     */
    subtitle: string;

    /**
     * Описание карточки.
     */
    description?: string;

    /**
     * Ссылка для перехода
     */
    link: string;
};

const { title, subtitle, description, link } = Astro.props as CardServiceProps;

/**
 * Компонент карточки услуг.
 */
---

<div class="service-card">
    <h2 class="title">{title}</h2>
    <h3 class="subtitle">{subtitle}</h3>
    <div class="description">
        <p>{description}</p>
        <Image src={arrow} alt="Поддержка баз данных " class="icon" />
    </div>
</div>
