@import "@styles/globals.less";

.service-info {
    .services {
        width: 100%;

        .services-content {
            justify-items: center;

            .service {
                margin-top: 70px;
                width: 100%;
                gap: 20px;
            }
        }
    }

    .service {
        margin-top: 70px;
        width: 100%;
        gap: 20px;

        .mediaPhone({
            margin-top: 30px;

            .service-card {
                width: 280px;
            }
        });
    }
}
