@primary-white-text: #FFFFFF;
@secondary-white-text: #E0E0E0;
@primary-black-text: #393939;
@secondary-black-text: #4C4C4C;

@field-placeholder: #B7B7B7;
@field-placeholder-hover-text: #676767;

@header-background: #606060;
@header-border: #BFBFBF;

@accent-blue: #1155CC;
@secondary-blue: #1642B0;

@button-white-hover: #DEE9FF;

@background-gray: #F6F6F6;

@footer-border: #4A4A4A;
@card-border: #88B3FF;

@outline: #ADC4EC;
@second-circle: #A6BFED7D;

@background-white: #FFFFFF;
@background-light-gray: #FCFCFC;
@background-blue: #F2F6FE;
@background-grey: #F6F6F6;

@shadow-black: #4A4A4A0F;

@overlay: #212121E5;