@import "@styles/fontsMixins.less";
@import "@styles/colors.less";
@import "@styles/breakpoints.less";

.our-projects {
    margin-bottom: 100px;

    .mediaPhone({
        margin-bottom: 50px;
    });

    .projects-wrapper {
        height: 100%;
        overflow: hidden;
        .projects {
            border: 1px solid @accent-blue;
            border-radius: 10px;
            background-color: @background-light-gray;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .mediaPhone({
                    margin: 0 20px;
                });

            .image-header {
                display: grid;
                grid-template-columns: 0.8fr 1.5fr;
                justify-content: space-between;
                align-items: center;
                height: 88px;

                .mediaPhone({
                    height: auto;
                    grid-template-columns: 1fr;
                });

                .project-goal {
                    color: @accent-blue;
                    padding: 12px 20px;
                    .fontOpenSansBold();
                    font-size: 22px;
                    margin-left: auto;

                    .mediaPhone({
                       display: none;
                    });
                }

                .header-image {
                    height: 74px;
                    width: auto;
                    margin-left: 20px;
                    margin-top: 10px;

                    .mediaPhone({
                            height: 54px;
                            width: auto;
                            display: block;
                            margin: 0 auto;
                        });
                }
            }

            .text-header {
                .fontOpenSansBold();
                font-size: 22px;
                color: @primary-black-text;
                margin: 18px;

                .mediaPhone({
                    font-size: 14px;
                    margin: 10px 5px;
                });
            }

            .project-content {
                height: 100%;
                display: grid;
                grid-template-columns: 0.8fr 1.1fr 1.5fr;
                background-color: @background-blue;
                overflow: hidden;

                .mediaPhone({
                        display: flex;
                        flex-direction: column;
                        grid-template-columns: 1fr;
                        height: auto;

                    });

                .task-section,
                .solution-section,
                .result-section {
                    height: 100%;
                    padding: 20px 12px;
                    background-color: @background-light-gray;
                    border-top: 1px solid @accent-blue;

                    .mediaPhone({
                            padding: 10px;
                        });
                }

                .task-section,
                .solution-section {
                    border-right: 1px solid @accent-blue;

                    .mediaPhone({
                            border-right: none;
                        });
                }

                h4 {
                    .fontOpenSansBold();
                    font-size: 18px;
                    margin-bottom: 8px;
                    color: @primary-black-text;
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .mediaPhone({
                            font-size: 14px;
                            margin-bottom: 5px;
                        });
                }

                p {
                    .fontOpenSansRegular();
                    font-size: 15px;
                    color: @secondary-black-text;
                    margin-bottom: 8px;

                    .mediaPhone({
                            font-size: 12px;
                            margin-bottom: 5px;
                        });
                }

                .section-icon {
                    width: 32px;
                    height: 32px;
                    object-fit: contain;

                    .mediaPhone({
                        width: 24px;
                        height: 24px;
                    });
                }

                ul.numbered-list {
                    list-style-type: decimal;
                    padding-left: 20px;
                    color: @primary-black-text;

                    .mediaPhone({
                        padding-left: 13px;
                    });

                    li {
                        color: @primary-black-text;
                        &::marker {
                            color: @accent-blue;
                            font-weight: bold;
                        }
                    }
                }

                ul {
                    padding-left: 18px;
                    margin-bottom: 14px;

                    .mediaPhone({
                            padding-left: 15px;
                            margin: 0;
                        });

                    li {
                        .fontOpenSansRegular();
                        font-size: 15px;
                        color: @secondary-black-text;
                        margin-bottom: 5px;

                        .mediaPhone({
                                font-size: 12px;
                                margin-bottom: 0px;
                            });

                        &::marker {
                            color: @outline;
                        }
                    }
                }
            }
        }
    }
    .mediaPhone({
        .task-section {
            order: 1;
        }

        .solution-section {
            order: 2;
        }

        .result-section {
            order: 3;
        }
    });
}
