---
import Layout from "src/layout/Layout.astro";
import Form from "src/components/form/Form.astro";
import MainInfo from "src/logic/company/MainInfo.astro";
import ReasonsForService from "src/logic/company/ReasonsForService.astro";
import OurProjects from "src/logic/company/OurProjects.astro";
import "src/pages/_index.less";
import SupportStructure from "src/logic/service/SupportStructure.astro";
import AppealReasons from "src/logic/company/AppealReasons.astro";
import ManagersInfo from "src/logic/company/ManagersInfo.astro";
import Partners from "src/logic/company/Partners.astro";
import CLients from "src/logic/company/CLients.astro";

/**
 * Страница о компании.
 */
---

<Layout className="main-page">
    <div class="middle-content">
        <MainInfo />
        <ReasonsForService />
        <AppealReasons />
        <ManagersInfo />
    </div>

    <Partners />
    <CLients />

    <div class="middle-content">
        <OurProjects />
    </div>

    <Form />
</Layout>
