---
import Layout from "src/layout/Layout.astro";
import Form from "src/components/form/Form.astro";
import MainInfo from "src/logic/company/main-info/MainInfo.astro";
import ReasonsForService from "src/logic/company/reasons-for-service/ReasonsForService.astro";
import OurProjects from "src/logic/company/our-projects/OurProjects.astro";
import "src/pages/_index.less";
import SupportStructure from "src/logic/service/SupportStructure.astro";
import AppealReasons from "src/logic/company/appeal-reasons/AppealReasons.astro";
import ManagersInfo from "src/logic/company/managers-info/ManagersInfo.astro";
import Partners from "src/logic/company/partners/Partners.astro";
import CLients from "src/logic/company/clients/CLients.astro";

/**
 * Страница о компании.
 */
---

<Layout className="main-page">
    <div class="middle-content">
        <MainInfo />
        <ReasonsForService />
        <AppealReasons />
        <ManagersInfo />
    </div>

    <Partners />
    <CLients />

    <div class="middle-content">
        <OurProjects />
    </div>

    <Form />
</Layout>
