---
import Layout from "src/layout/Layout.astro";
import Form from "src/components/form/Form.astro";
import MainInfo from "src/logic/database/MainInfo.astro";
import TrustReasons from "src/components/trust-reasons/TrustReasons.astro";
import DatabasesDevops from "src/components/databases-devops/DatabasesDevops.astro";
import DatabaseConsist from "src/logic/database/DatabaseConsist.astro";
import "src/pages/_index.less";
import AddContent from "src/logic/database/AddContent.astro";
import FastOperative from "src/logic/database/FastOperative.astro";
import ItInfrastructure from "src/components/it-infrastructure/ItInfrastructure.astro";
import DatabaseCases from "src/logic/database/DatabaseCases.astro";
import ReasonsForDatabase from "src/logic/database/ReasonsForDatabase.astro";
import TechnicalSupport from "src/components/technical-support/TechnicalSupport.astro";
import { Option } from "src/components/options/Options.astro";

/**
 * Страница кейсов бд.
 */
---

<Layout className="main-page">
    <Fragment slot="head">
        <title>Администрирование баз данных — Прометей</title>
        <meta name="description" content="Полное сопровождение баз данных: от настройки до мониторинга. PostgreSQL, MySQL, Oracle, MS SQL. Обратитесь к нам!" />
    </Fragment>

    <div class="middle-content">
        <MainInfo />
        <ReasonsForDatabase />
        <DatabaseConsist />
    </div>

    <AddContent />
    <div class="middle-content">
        <FastOperative />
    </div>

    <div class="middle-content">
        <TechnicalSupport />
        <ItInfrastructure />
        <DatabasesDevops
            title="ЦЕНЫ НА УСЛУГИ ПО БАЗАМ ДАННЫХ"
            subtitle="Стоимость проектов индивидуальна — все зависит от конечных задач, утвержденных с вами"
            showOptions={false}
            defaultOption={Option.db}
        />
    </div>

    <TrustReasons />

    <DatabaseCases />

    <Form />
</Layout>
