---
import Layout from "src/layout/Layout.astro";
import Form from "src/components/form/Form.astro";
import MainInfo from "src/logic/database/main-info/MainInfo.astro";
import TrustReasons from "src/components/trust-reasons/TrustReasons.astro";
import DevopsServicePrice from "src/logic/service/DevopsServicePrice.astro";
import DatabaseConsist from "src/logic/database/database-consist/DatabaseConsist.astro";
import "src/pages/_index.less";
import AddContent from "src/logic/database/add-content/AddContent.astro";
import FastOperative from "src/logic/database/fast-operative/FastOperative.astro";
import ItInfrastructure from "src/components/it-infrastructure/ItInfrastructure.astro";
import DatabaseCases from "src/logic/database/database-cases/DatabaseCases.astro";
import ReasonsForDatabase from "src/logic/database/reasons-for-database/ReasonsForDatabase.astro";
import TechnicalSupport from "src/components/technical-support/TechnicalSupport.astro";

/**
 * Страница кейсов бд.
 */
---

<Layout className="main-page">
    <div class="middle-content">
        <MainInfo />
        <ReasonsForDatabase />
        <DatabaseConsist />
    </div>

    <AddContent />
    <div class="middle-content">
        <FastOperative />
    </div>

    <div class="middle-content">
        <TechnicalSupport />
        <ItInfrastructure />
        <DevopsServicePrice />
    </div>

    <TrustReasons />

    <DatabaseCases />

    <Form />
</Layout>
