---
import Layout from "src/layout/Layout.astro";
import Form from "src/components/form/Form.astro";
import MainInfo from "src/logic/service/MainInfo.astro";
import ReasonsForService from "src/logic/service/ReasonsForService.astro";
import TrustReasons from "src/components/trust-reasons/TrustReasons.astro";
import DevopsServicePrice from "src/logic/service/DevopsServicePrice.astro";
import BusinessAssistance from "src/components/business-assistance/BusinessAssistance.astro";
import DevopsConsist from "src/logic/service/DevopsConsist.astro";
import "src/pages/_index.less";
import SupportStructure from "src/logic/service/SupportStructure.astro";
import Safety from "src/logic/service/Safety.astro";
import TechnicalSupport from "src/components/technical-support/TechnicalSupport.astro";

/**
 * Страница кейсов.
 */
---

<Layout className="main-page">
    <div class="middle-content">
        <MainInfo />
        <ReasonsForService />
        <DevopsConsist />
    </div>

    <SupportStructure />

    <div class="middle-content">
        <TechnicalSupport />
        <Safety />
        <DevopsServicePrice />
    </div>

    <TrustReasons />

    <div class="middle-content">
        <BusinessAssistance />
    </div>

    <Form />
</Layout>
