---
import DatabasesDevops from "src/components/databases-devops/DatabasesDevops.astro";
import Form from "src/components/form/Form.astro";
import Statistic from "src/components/statistic/Statistic.astro";
import TrustReasons from "src/components/trust-reasons/TrustReasons.astro";
import Layout from "src/layout/Layout.astro";
import MainInfo from "src/logic/main/MainInfo.astro";
import Offer from "src/logic/main/Offer.astro";

import Strengths from "src/logic/main/Strengths.astro";
import TrustUs from "src/logic/main/TrustUs.astro";
import WorkReasons from "src/logic/main/WorkReasons.astro";
import "src/pages/_index.less";

/**
 * Главная страница.
 */
---

<Layout className="main-page">
  <Fragment slot="head">
    <title>Прометей — Администрирование БД/DevOps</title>
    <meta
      name="description"
      content="Узнайте, как мы администрируем базы данных и внедряем DevOps. Решения под ключ — доверьтесь экспертам."
    />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Прометей",
        "url": "https://prometey-lab.ru",
        "logo": "https://prometey-lab.ru/logo.png",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+7-922-952-99-44",
          "contactType": "Customer Support"
        }
      }
    </script>
  </Fragment>
  <div class="middle-content">
    <MainInfo />
    <Statistic />
    <Strengths />
    <Offer />
    <WorkReasons />
  </div>

  <TrustReasons />

  <div class="middle-content">
    <DatabasesDevops />
  </div>

  <TrustUs />
  <Form />
</Layout>
