---
import Layout from "src/layout/Layout.astro";
import Form from "src/components/form/Form.astro";
import MainInfo from "src/logic/main-page/main-info/MainInfo.astro";
import Statistic from "src/components/statistic/Statistic.astro";
import EngineersHelps from "src/logic/main-page/engineers-helps/EngineersHelps.astro";
import Strengths from "src/logic/main-page/strengths/Strengths.astro";
import AboutUs from "src/components/about-us/AboutUs.astro";
import "src/pages/index.less";

/**
 * Главная страница.
 */
---

<Layout className="main-page">
    <div class="middle-content">
        <MainInfo />
        <Statistic />
        <Strengths />
        <EngineersHelps />
        <AboutUs />
    </div>
    <Form />
</Layout>
