---
import Layout from "src/layout/Layout.astro";
import ContactUs from "src/layout/contact-us/ContactUs.astro";
import Form from "src/components/form/Form.astro";
import MainInfo from "src/logic/main-page/main-info/MainInfo.astro";
import Statistic from "src/components/statistic/Statistic.astro";
import Offer from "src/logic/main-page/offer/Offer.astro";
import ProjectExamples from "src/logic/main-page/project-examples/ProjectExamples.astro";
import Strengths from "src/logic/main-page/strengths/Strengths.astro";
import WorkReasons from "src/logic/main-page/work-reasons/WorkReasons.astro";
import TrustReasons from "src/components/trust-reasons/TrustReasons.astro";
import TrustUs from "src/logic/main-page/trust-us/TrustUs.astro";
import "src/pages/index.less";

/**
 * Главная страница.
 */
---

<Layout className="main-page">
    <div class="middle-content">
        <MainInfo />
        <Statistic />
        <Strengths />
        <Offer />
        <WorkReasons />
    </div>

    <TrustReasons />

    <div class="middle-content">
        <ProjectExamples />
    </div>

    <TrustUs />
    <Form />
</Layout>
