---
import Layout from "src/layout/Layout.astro";
import "src/pages/_index.less";
import PrivacyPolicy from "src/logic/policy-page/PrivacyPolicy.astro";

/**
 * Страница политик конфиденциальности.
 */
---

<Layout className="main-page">
    <div class="middle-content">
        <PrivacyPolicy />
    </div>
</Layout>
