---
import Layout from "src/layout/Layout.astro";
import Form from "src/components/form/Form.astro";
import ServicesInfo from "src/logic/services-page/services-info/ServicesInfo.astro";
import TrustReasons from "src/components/trust-reasons/TrustReasons.astro";
import BusinessAssistance from "src/components/business-assistance/BusinessAssistance.astro";
import "src/pages/index.less";

/**
 * Страница услуг.
 */
---

<Layout className="main-page">
    <div class="middle-content">
        <ServicesInfo />
    </div>

    <TrustReasons />

    <div class="middle-content">
        <BusinessAssistance />
    </div>

    <Form />
</Layout>
