---
import HorizontalLineTitle from "src/components/horizontal-line-title/HorizontalLineTitle.astro";
import Offer from "src/logic/main-page/engineers-helps/offer/Offer.astro";
---

<div class="engineers-helps">
    <HorizontalLineTitle title="ИНЖЕНЕРЫ ПОМОГУТ НА ЛЮБОМ ЭТАПЕ">
        <Offer />
    </HorizontalLineTitle>
</div>
