---

import HorizontalLineTitle from "src/components/horizontal-line-title/HorizontalLineTitle.astro";
import "src/logic/main-page/engineers-helps/EngineersHelps.less";
---

<div class="engineers-helps">
    <HorizontalLineTitle title="ИНЖЕНЕРЫ ПОМОГУТ НА ЛЮБОМ ЭТАПЕ"/>
</div>
