@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  .statistic-card .title::after {
    content: counter(num);
  }

  .statistic-card .title {
    counter-reset: num var(--num);

    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    animation-duration: 5s;
  }

  .statistic-card:first-child .title {
    animation-name: counter1;
  }

  .statistic-card:nth-child(2) .title {
    animation-name: counter2;
  }

  .statistic-card:nth-child(2) .title::after {
    content: counter(num)" +";
  }

  .statistic-card:nth-child(3) .title {
    animation-name: counter3;
  }

  .statistic-card:nth-child(3) .title::after {
    content: counter(num)" +";
  }

  .statistic-card:nth-child(4) .title {
    animation-name: counter4;
  }

  .statistic-card:nth-child(4) .title::after {
    content: counter(num)" +";
  }

  @keyframes counter1 {
    from {
      --num: 0;
    }
    to {
      --num: 16;
    }
  }

  @keyframes counter2 {
    from {
      --num: 0;
    }
    to {
      --num: 82;
    }
  }

  @keyframes counter3 {
    from {
      --num: 0;
    }
    to {
      --num: 70;
    }
  }

  @keyframes counter4 {
    from {
      --num: 0;
    }
    to {
      --num: 20;
    }
  }