---
import StatisticCard from "src/components/statistic/statistic-card/StatisticCard.astro";
import "src/components/statistic/Statistic.less";

/**
 * Компонент статистики.
 */
---

<div class="statistic">
    <div class="block">
        <StatisticCard title="16" description="Лет опыта" />
        <StatisticCard title="82 +" description="Успешных проекта" />
    </div>
    <div class="block">
        <StatisticCard title="70 +" description="Разработчиков в команде" />
        <StatisticCard title="20 +" description="Охваченных отраслей" />
    </div>
</div>
