---
import StatisticCard from "src/components/statistic/statistic-card/StatisticCard.astro";
import "src/components/statistic/Statistic.less";
import 'src/components/statistic/Counter.css';


/**
 * Компонент статистики.
 */
---

<div class="statistic">
    <StatisticCard description="Лет опыта" />
    <StatisticCard description="Успешных проекта" />
    <StatisticCard description="Разработчиков в команде" />
    <StatisticCard description="Охваченных отраслей" />
</div>
