---
import StatisticCard from "src/components/statistic/statistic-card/StatisticCard.astro";
import "src/components/statistic/Statistic.less";

/**
 * Компонент статистики.
 */
---

<div class="statistic">
    <StatisticCard description="Лет опыта команды" />
    <StatisticCard description="Успешных проекта" />
    <StatisticCard description="Экспертов в команде" />
    <StatisticCard description="Охваченных отраслей" />
</div>

<script>
    function animateCounter(
        el: HTMLElement,
        to: number,
        duration: number,
        showPlus: boolean
    ): void {
        let startTime: number | null = null;

        const step = (timestamp: number) => {
            if (startTime === null) startTime = timestamp;
            const progress = timestamp - startTime;
            const value = Math.min(Math.floor((progress / duration) * to), to);
            el.textContent = showPlus ? `${value} +` : `${value}`;
            if (value < to) {
                requestAnimationFrame(step);
            }
        };

        requestAnimationFrame(step);
    }

    const elements = Array.from(
        document.querySelectorAll<HTMLElement>(".statistic-card .title")
    );
    const values: number[] = [20, 82, 15, 20];
    elements.forEach((el, i) => {
        if (i < values.length) {
            const showPlus = true;
            animateCounter(el, values[i], 5000, showPlus);
        }
    });
</script>
