@import '@styles/breakpoints.less';

.statistic {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    flex-wrap: wrap;
    gap: 50px;

    .mediaPhone({
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    });

    .block {
        display: flex;
        gap: 50px;
        flex: 1;

        .mediaPhone({
            gap: 30px;
        });
    }
}