---
import HorizontalLineTitle from "src/components/horizontal-line-title/HorizontalLineTitle.astro";
import "src/components/technical-support/TechnicalSupport.less";

/**
 * Компонент раздела "Как мы организуем техническую поддержку.".
 */
---

<div class="technical-support">
    <HorizontalLineTitle
        title="КАК МЫ ОРГАНИЗУЕМ ТЕХНИЧЕСКУЮ ПОДДЕРЖКУ"
        subtitle="Проактивный мониторинг IT-инфраструктуры"
    >
        <div>
            <p>
                Мы не ждём, пока что-то сломается — выявляем потенциальные сбои
                заранее. Система мониторинга отслеживает сотни метрик:
                производительность, загрузку, отказоустойчивость, безопасность.
            </p>
        </div>
    </HorizontalLineTitle>
</div>
