@import "@styles/globals.less";

.card-without-title {
    border: 1px solid @outline;

    .description {
        .fontOpenSansSemiBold();
        font-size: 18px;
        color: @secondary-black-text;

        .mediaPhone({
        font-size: 15px;
    });
    }
}
