---
import "src/components/horizontal-line-title/HorizontalLineTitle.less";

const { title, subtitle, className } = Astro.props;

/**
 *  Заголовок с горизонтальной линией перед заголовком.
 */
---

<div class="horizontal-line-title">
    <div class="line-title-container">
        <div class="horizontal-line"></div>
        <div class="title">{title}</div>
    </div>
    <div class="subtitle">{subtitle}</div>
    <div class={`content ${className}`}><slot /></div>
</>
