---
import HorizontalLineTitle from "src/components/horizontal-line-title/HorizontalLineTitle.astro";
import "src/logic/policy-page/PrivacyPolicy.less";

/**
 * Компонент раздела "Политика конфиденциальности".
 */
---

<div class="privacy-policy">
    <HorizontalLineTitle
        title="Политика конфиденциальности"
        subtitle="Соглашение на обработку персональных данных"
        className="privacy-container"
        contentClassName="privacy-content"
    >
        <div class="privacy-text">
            <p>
                Присоединяясь к настоящему Соглашению и оставляя свои данные на
                Сайте prometey-lab.ru, (далее — Сайт), путем заполнения полей
                формы (регистрации и заявки) Пользователь:
            </p>

            <ul>
                <li>
                    подтверждает, что все указанные им данные принадлежат лично
                    ему;
                </li>
                <li>
                    подтверждает и признает, что им внимательно в полном объеме
                    прочитано Соглашение и условия обработки его персональных
                    данных, указываемых им в полях формы (регистрации и заявки),
                    текст соглашения и условия обработки персональных данных ему
                    понятны;
                </li>
                <li>
                    дает согласие на обработку Сайтом предоставляемых в составе
                    информации персональных данных в целях заключения между ним
                    и Сайтом настоящего Соглашения, а также его последующего
                    исполнения;
                </li>
                <li>
                    дает согласие на получение информационной рассылки о
                    новостях Сайта, в том числе анонсов статей, размещенных на
                    Сайте и рекламных материалов Сайта;
                </li>
                <li>
                    выражает согласие с условиями обработки персональных данных.
                </li>
            </ul>

            <p>
                Владельцем сайта https://prometey-lab.ru/ — является Общество с
                ограниченной ответственностью «Прометей Лаб Технологии»
            </p>

            <p>ИНН 6700012884</p>

            <p>Юридический адрес:</p>

            <p>
                214022, Смоленская обл., г.Смоленск, ул.Николаева д.51, офис Л49
            </p>

            <p>
                Пользователь дает свое согласие на обработку его персональных
                данных, а именно совершение действий, предусмотренных п. 3 ч. 1
                ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ «О персональных
                данных», и подтверждает, что, давая такое согласие, он действует
                свободно, своей волей и в своем интересе.
            </p>
            <p>
                Согласие Пользователя на обработку персональных данных является
                конкретным, информированным и сознательным.
            </p>

            <p>
                Настоящее согласие Пользователя признается исполненным в простой
                письменной форме, на обработку следующих персональных данных:
            </p>

            <ul>
                <li>фамилии, имени, отчества;</li>
                <li>возраста;</li>
                <li>места пребывания (город, область);</li>
                <li>номеров телефонов;</li>
                <li>адресов электронной почты (E-mail).</li>
            </ul>

            <p>
                Пользователь, предоставляет prometey-lab.ru право осуществлять
                следующие действия (операции) с персональными данными: сбор и
                накопление; хранение в течение установленных нормативными
                документами сроков хранения отчетности, но не менее трех лет, с
                момента даты прекращения пользования услуг Пользователем;
                уточнение (обновление, изменение); использование; уничтожение;
                обезличивание; передача по требованию суда, в т.ч., третьим
                лицам, с соблюдением мер, обеспечивающих защиту персональных
                данных от несанкционированного доступа.
            </p>

            <p>
                Указанное согласие действует бессрочно с момента предоставления
                данных и может быть отозвано Вами путем подачи заявления
                администрации сайта с указанием данных, определенных ст. 14
                Закона «О персональных данных».
            </p>

            <p>
                Отзыв согласия на обработку персональных данных может быть
                осуществлен путем направления Пользователем соответствующего
                распоряжения в простой письменной форме на адрес электронной
                почты (E-mail) sales@prometey-lab.ru
            </p>

            <p>
                Сайт не несет ответственности за использование (как правомерное,
                так и неправомерное) третьими лицами Информации, размещенной
                Пользователем на Сайте, включая её воспроизведение и
                распространение, осуществленные всеми возможными способами.
            </p>

            <p>
                Сайт имеет право вносить изменения в настоящее Соглашение. При
                внесении изменений в актуальной редакции указывается дата
                последнего обновления. Новая редакция Соглашения вступает в силу
                с момента ее размещения, если иное не предусмотрено новой
                редакцией Соглашения.
            </p>

            <p>
                Действующая редакция Соглашения находится на странице по адресу:
                <a href="https://prometey-lab.ru/policy/"
                    >https://prometey-lab.ru/policy/</a
                >
            </p>

            <p>
                К настоящему Соглашению и отношениям между пользователем и
                Сайтом, возникающим в связи с применением Соглашения, подлежит
                применению право Российской Федерации.
            </p>
        </div>
    </HorizontalLineTitle>
</div>
