---
import HorizontalLineTitle from "src/components/horizontal-line-title/HorizontalLineTitle.astro";
import "src/logic/company/AppealReasons.less";

/**
 * Компонент раздела "Почему выбирают именно нас".
 */
---

<HorizontalLineTitle
    title="ПОЧЕМУ ВЫБИРАЮТ ИМЕННО НАС"
    className="appeal"
    contentClassName="appeal-content"
>
    <div class="appeal-grid">
        <ul class="appeal-reasons appeal-left">
            <li>
                <strong>50+ отказоустойчивых систем</strong>: спроектировали
                архитектуры с высокой доступностью и резервированием.
            </li>
            <li>
                <strong>Ускорение развертываний в 50 раз</strong>: внедряем
                CI/CD и автоматизацию DevOps-процессов.
            </li>

            <li>
                <strong>–20% незапланированных работ и доработок</strong>:
                устраняем «пожары» заранее, благодаря проактивному мониторингу и
                техническому аудиту.
            </li>
        </ul>
        <ul class="appeal-reasons appeal-right">
            <li>
                <strong>До 60% экономии на инфраструктуре</strong>: используем
                Open Source, оптимизируем лицензии и ресурсы.
            </li>
            <li>
                <strong>В 4 раза меньше расходов на штат</strong>: вы получаете
                выделенную команду без затрат на найм, обучение и увольнение.
            </li>
            <li>
                <strong>DBA и DevOps-команда по цене 0,5 специалиста</strong>:
                SLA, прозрачность, квалификация — без компромиссов.
            </li>
        </ul>
    </div>
</HorizontalLineTitle>
