---
import HorizontalLineTitle from "src/components/horizontal-line-title/HorizontalLineTitle.astro";
import Swiper from "src/components/swiper/Swiper.astro";
import SwiperSlideElement from "src/components/swiper/SwiperSlideElement.astro";
import { Image } from "astro:assets";
import vinlab from "src/assets/images/vinlab.svg";
import storeez from "src/assets/images/12storeez.svg";
import monastyrev from "src/assets/images/monastyrev.svg";
import teamIdea from "src/assets/images/TeamIdea.svg";
import yandex from "src/assets/images/yandex.svg";
import ozon from "src/assets/images/ozon.svg";
import sberBank from "src/assets/images/SberBank.svg";
import gosUslugi from "src/assets/images/GosUslugi.svg";

import "src/logic/main-page/trust-us/TrustUs.less";

export type TrustUsProps = {
    icon: ImageMetadata;
};

const clients: TrustUsProps[] = [
    { icon: vinlab },
    { icon: storeez },
    { icon: monastyrev },
    { icon: teamIdea },
    { icon: yandex },
    { icon: ozon },
    { icon: sberBank },
    { icon: gosUslugi },
];
---

<div class="trust-us">
    <HorizontalLineTitle
        title="НАМ ДОВЕРЯЮТ"
        subtitle="При работе с нашими клиентами мы готовые привлекать сторонних экспертов для решения сложных задач, аудита и оптимизации"
        className="trust-us-container"
        contentClassName="trust-us-content"
    >
        <Swiper
            desktopSlidesPerView={4}
            tabletSlidesPerView={3}
            spaceBetween={6}
        >
            {
                clients.map(({ icon }) => (
                    <SwiperSlideElement>
                        <Image src={icon} alt="icon" class="client-image" />
                    </SwiperSlideElement>
                ))
            }
        </Swiper>
    </HorizontalLineTitle>
</div>
