@import "@styles/globals.less";

@max-width: 1250px;

.trust-us {
    width: 100%;
    background-color: @background-grey;

    .trust-us-container {
        padding: 48px 40px;
        width: 100%;
        margin: 0 auto;
        max-width: @max-width;

        .mediaPhone({
            padding: 40px 20px;
        });

        .client-image {
            width: 255px;
            height: 84px;
            display: flex;
            gap: 10px;
        }
    }
}
