---
import HorizontalLineTitle from "src/components/horizontal-line-title/HorizontalLineTitle.astro";
import Swiper from "src/components/swiper/Swiper.astro";
import SwiperSlideElement from "src/components/swiper/SwiperSlideElement.astro";
import { Image } from "astro:assets";
import newBook from "src/assets/images/newBook.png";
import storeez from "src/assets/images/12storeez.svg";
import monastyrev from "src/assets/images/monastyrev.svg";
import teamIdea from "src/assets/images/TeamIdea.svg";
import zencha from "src/assets/images/zencha.png";
import planetaZdorovya from "src/assets/images/planetaZdorovya.png";
import tendertex from "src/assets/images/tendertex.png";
import free2ex from "src/assets/images/free2ex.png";

import "src/logic/main-page/trust-us/TrustUs.less";

export type TrustUsProps = {
    icon: ImageMetadata;
};

const clients: TrustUsProps[] = [
    { icon: storeez },
    { icon: monastyrev },
    { icon: teamIdea },
    { icon: newBook },
    { icon: zencha },
    { icon: planetaZdorovya },
    { icon: tendertex },
    { icon: free2ex },
];
---

<div class="trust-us">
    <HorizontalLineTitle
        title="НАМ ДОВЕРЯЮТ"
        subtitle="При работе с нашими клиентами мы готовые привлекать сторонних экспертов для решения сложных задач, аудита и оптимизации"
        className="trust-us-container"
        contentClassName="trust-us-content"
    >
        <Swiper
            desktopSlidesPerView={4}
            tabletSlidesPerView={3}
            spaceBetween={19}
        >
            {
                clients.map(({ icon }) => (
                    <SwiperSlideElement>
                        <Image src={icon} alt="icon" class="client-image" />
                    </SwiperSlideElement>
                ))
            }
        </Swiper>
    </HorizontalLineTitle>
</div>
