---
import Button from "src/components/button/Button.astro";
import "src/logic/main-page/engineers-helps/offer/Offer.less";
import Table from "src/logic/main-page/engineers-helps/offer/table/Table.astro";

---

<div>
    <div class="options">
        <Button label="Техподдержка баз данных" />
        <a class="secondary-offer-option" href="#">DevOps</a>
    </div>
    <!-- <Table /> -->
</div>
