@import "@styles/globals.less";

.offer-table {
    display: grid;
    background-color: @background-blue;
    grid-template-columns: repeat(6, 1fr);
    border-radius: 10px;

    .mediaDefault({
        min-width: 860px;
        max-width: 1170px;
    });

    .mediaPhone({
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-auto-flow: column;
        padding: 8px 12px;
    });

    > div {
        padding: 12px 10px;
        .mediaPhone({
            padding: 6px 3px;
        });

        .inner-border {
            width: 100%;
            height: 100%;
            display: inline-block;
        }
    }

    div:not(:nth-child(6n)) {
        .mediaPhone({
            border-bottom: 1px solid @outline;
        });
        .inner-border {
            .mediaDefault({
                border-right: 1px solid @accent-blue;
            });
        }
    }

    .mediaPhone({
        div:nth-child(-n + 6) .inner-border {
            border-right: 1px solid @outline;
        }
        >div:nth-child(n) .inner-border {
            font-size: 10px;
            padding: 18px 11px 18px 0;
        }
    });

    div:nth-child(-n + 6) {
        .fontOpenSansBold();
        font-size: 20px;
        .mediaDefault({
            border-bottom: 1px solid @accent-blue;

            .inner-border {
                padding: 14px 16px;
            }
        });
    }

    div:nth-child(n + 7) {
        .fontOpenSansRegular();
        font-size: 15px;

        .inner-border {
            padding: 10px;
        }
    }
}

@media (min-width: 941px) and (max-width: 1380px) {
    .offer-table {
        > div {
            padding: 12px 0;
        }

        .inner-border {
            word-break: break-word;
            width: 100%;
            height: 100%;
            display: inline-block;
        }

        div:nth-child(-n + 6) > .inner-border {
            padding: 14px 5px;
            text-align: center;
        }

        div:nth-child(n + 7) > .inner-border {
            padding: 10px 5px;
        }
    }
}

h2.service {
    .fontOpenSansExtraBold();
    margin-top: 40px;
    font-size: 24px;
    .mediaPhone({
        font-size: 16px;
    });
}

.promotion {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    margin-top: 4px;
    .mediaPhone({
        flex-direction: column;
        gap: 20px;
    });
    .main-image {
        align-self: center;
        zoom: 0.85;

        .mediaPhone({
            zoom: 0.65;
        });
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 25px;

        .mediaPhone({
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);
        });
    }
}

.offer-container.category-db {
    .offer-table {
        div:nth-child(-n + 6) {
            font-size: 14px;
        }
    }
}
