---
import Tab from "src/components/tab/Tab.astro";
import "src/components/options/Options.less"

---
<div class="options">
    <Tab label="Техподдержка БД" isActive={true}/>
    <Tab label="DevOps" />
</div>