---
import Tab from "src/components/tab/Tab.astro";
import "src/components/options/Options.less";

export enum Option {
  devops = "devops",
  db = "db",
}
interface Props {
  defaultOption?: Option;
}

const {
  defaultOption = Option.db,
} = Astro.props;
---

<div class="options">
     <Tab label="Администрирование СУБД" data-key={Option.db}  isActive={defaultOption === Option.db}  />
    <Tab label="DevOPS и SRE" data-key={Option.devops} isActive={defaultOption === Option.devops} />
</div>

<script>
  (() => {
    const optionBlocks = document.querySelectorAll(".options");

    optionBlocks.forEach((option) => {
      const tabs = option.querySelectorAll(".tab");

      tabs.forEach((tab) => {
        tab.addEventListener("click", (clicked) => {
          tabs.forEach((el) => el.classList.remove("active"));

          if (clicked.target instanceof HTMLElement) {
            const tabEl = clicked.target.closest(".tab");
            if (tabEl) {
              tabEl.classList.add("active");

              const selected = tabEl.getAttribute("data-key");

              document.dispatchEvent(
                new CustomEvent("optionChanged", {
                  detail: { key: selected },
                })
              );
            }
          }
        });
      });
    });
  })();
</script>
