---
import Button from "src/components/button/Button.astro";
import "src/components/options/Options.less"

---
<div class="options">
    <Button label="Техподдержка БД" />
    <a class="secondary-offer-option" href="#">DevOps</a>
</div>