---
import Tab from "src/components/tab/Tab.astro";
import "src/components/options/Options.less";
---

<div class="options">
    <Tab label="Администрирование СУБД" data-key="db" isActive={true} />
    <Tab label="DevOPS и SRE" data-key="devops" />
</div>

<script is:inline>
    (() => {
        const optionBlocks = document.querySelectorAll(".options");

        optionBlocks.forEach((option) => {
            const tabs = option.querySelectorAll(".tab");

            tabs.forEach((tab) => {
                tab.addEventListener("click", (clicked) => {
                    tabs.forEach((el) => el.classList.remove("active"));

                    const tabEl = clicked.target.closest(".tab");
                    if (tabEl) {
                        tabEl.classList.add("active");

                        const selected = tabEl.getAttribute("data-key");

                        document.dispatchEvent(
                            new CustomEvent("optionChanged", {
                                detail: { key: selected },
                            })
                        );
                    }
                });
            });
        });
    })();
</script>
