---
import type { CardForCasesProps } from "src/components/card-for-cases/CardForCases.astro";
import CardForCases from "src/components/card-for-cases/CardForCases.astro";
import HorizontalLineTitle from "src/components/horizontal-line-title/HorizontalLineTitle.astro";
import "src/logic/database-page/add-content/AddContent.less";
import Expertise from "@assets/images/expertise.svg";
import Message from "@assets/images/message.svg";
import ShieldLock from "@assets/images/shield-lock.svg";
import MoneyBag from "@assets/images/money-bag.svg";
import Monitoring from "src/assets/images/monitoring.svg";
import PersonalCabinet from "src/assets/images/personal-cabinet.svg";

const supports: CardForCasesProps[] = [
    {
        image: ShieldLock,
        descriptions: {
            firstPart:
                "<strong>Техническая поддержка СУБД и систем 24/7</strong>",
        },
    },
    {
        image: MoneyBag,
        descriptions: {
            firstPart:
                "<strong>Консультации по архитектуре</strong> и оптимизации с разработчиками и DBA",
        },
    },
    {
        image: Monitoring,
        descriptions: {
            firstPart:
                "<strong>Готовая система мониторинга</strong> с возможностью кастомизации под ваши метрики",
        },
    },
    {
        image: PersonalCabinet,
        descriptions: {
            firstPart:
                "<strong>Трекер задач и база знаний</strong> для прозрачности всех операций",
        },
    },
    {
        image: Message,
        descriptions: {
            firstPart:
                "<strong>Open Source-решения</strong>, независимые от лицензий",
        },
    },
    {
        image: Expertise,
        descriptions: {
            firstPart:
                "<strong>Выделенная команда</strong>: тех.менеджер + минимум 2 DBA на каждое направление",
        },
    },
];

/**
 * Компонент раздела "Дополнительно вы получаете:".
 */
---

<div class="supports">
    <HorizontalLineTitle
        title="ДОПОЛНИТЕЛЬНО ВЫ ПОЛУЧАЕТЕ:"
        subtitle="Комплексная поддержка из одного окна:"
        className="supports-container"
        contentClassName="supports-content"
    >
        {
            supports.map((supports) => (
                <CardForCases
                    image={supports.image}
                    descriptions={supports.descriptions || {}}
                    showVerticalLine={false}
                    showButton={false}
                />
            ))
        }
    </HorizontalLineTitle>
</div>
