---
import "src/layout/footer/Footer.less";
import { Image } from "astro:assets";
import logo from "@assets/images/logo-white.png";
import email from "@assets/images/email.svg";
import telegram from "@assets/images/telegram.svg";
import telephone from "@assets/images/telephone.svg";
---

<footer id="contacts">
    <div class="footer-content">
        <div class="footer-up">
            <div class="logo-content">
                <a href="/" class="logo-link">
                    <Image class="logo" alt="Logo Prometey" src={logo} />
                </a>
                <a href="/" class="logo-link">
                    <span class="text">PROMETEY LAB</span>
                </a>
            </div>

            <div class="menu">
                <nav class="navigation">
                    <a href="/services/">Услуги</a>
                    <a href="/company/">О компании</a>
                    <a href="#">Блог</a>
                    <a href="#">Контакты</a>
                </nav>
            </div>
        </div>
        <div class="footer-down">
            <div class="owner-informaiton">
                <div class="legal-information">
                    <ul>
                        <li>
                            <span class="bold">Юр.адрес:</span> 214022, Смоленская
                            обл., г.Смоленск, ул.Николаева д.51, офис Л49
                        </li>
                        <li>
                            <span class="bold">Почтовый адрес:</span> 141700, Долгопрудный,
                            б-р космонавта Сереброва д.2, кв.237
                        </li>
                        <li><span class="bold">ИНН:</span> 6700012884</li>
                        <li><span class="bold">КПП:</span> 670001001</li>
                        <li>
                            <span class="bold">Часы работы:</span> Пн-Пт с 09:00
                            до 21:00
                        </li>
                    </ul>
                </div>
                <div class="contact-information">
                    <ul>
                        <li>
                            <a href="mailto:sales@prometey-lab.ru">
                                <span class="logo-container right-shift">
                                    <Image
                                        class="logo minimized"
                                        alt="icon email"
                                        src={email}
                                    />
                                </span>
                                sales@prometey-lab.ru
                            </a>
                        </li>
                        <li>
                            <a href="https://t.me/CTO_Path_PrometeyLab">
                                <Image
                                    class="logo right-shift"
                                    alt="icon telegram"
                                    src={telegram}
                                />
                                PrometeyLab
                            </a>
                        </li>
                        <li>
                            <a href="tel:+79229529944">
                                <span class="logo-container right-shift">
                                    <Image
                                        class="logo minimized"
                                        alt="icon tel"
                                        src={telephone}
                                    />
                                </span>
                                + 7 (922) 952-99-44
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
