---
import Header from 'src/layout/header/Header.astro';
import Footer from 'src/layout/footer/Footer.astro';
import 'src/layout/Layout.less';
import Statistic from 'src/logic/statistic/Statistic.astro';

export type LayoutProps = {
    className?: string,
};

const {className} = Astro.props as LayoutProps;

/**
 * HTML-шаблон для всех страниц.
 */
---

<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="color-scheme" content="light only" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>Prometey Lab</title>
    </head>
    <body>
        <Header />

        <main class={className}>
            <slot />
        </main>

        <Statistic />

        <Footer />

        <script>
            import 'src/layout/header/SwitchHeader.js';
        </script>
    </body>
</html>
